{% extends 'base.html' %} {% block content %} {% include 'navigation.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/get_unique_items.css') }}" />

<div id="wrapper">
    <div class="container">
        <h2 class="text-center">Upload CSV File to Get Unique Items</h2>
        <form action="/get_unique_items_from_files" enctype="multipart/form-data" id="uploadForm">
            <div class="input_card">
                <div class="input-group mb-3">
                    <input type="file" id="fileInput" name="file" accept=".csv" required class="form-control">
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-lg btn-info text-white" type="submit">Upload</button>
                </div>
            </div>
            <h5 for="item" class="text-center text-dark">Unique items</h5>
            <div class="item_container_choosing d-flex justify-content-center"></div>
        </form>
    </div>
</div>

<script src="{{url_for('static', filename='JS/get_unique_items.js')}}"></script>
{% endblock %}