{% extends 'base.html' %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='CSS/recommendation_page.css') }}"
/>
<h2>Find Best Recommendation</h2>
<div id="analyze_file">
  <label for="file">Upload CSV File:</label>
  <input type="file" id="fileupload" name="file" accept=".csv" required />
  <br />
  <button type="submit" class="submit_analyze">Analyze Items</button>
</div>
<div id="recommendationForm" style="display: none">
  <label for="item">Item Available For Choosing:</label>
  <div class="item_container_choosing" style="display: flex"></div>
  <br />
  <button type="submit" class="find_recommended_items_btn">
    Find Recommendation
  </button>
  <label for="item">Item Recommended:</label>
  <div class="item_recommended" style="display: flex"></div>
  <br />
</div>
<div id="result"></div>

<script src="{{url_for('static', filename='JS/recommendation_page.js')}}"></script>

{% endblock %}
