{% extends 'base.html' %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='CSS/recommendation_page.css') }}"
/>
<h2>Find Best Recommendation</h2>
<div id="analyze_file">
  <label for="file">Upload CSV File:</label>
  <input type="file" id="fileupload" name="file" accept=".csv" required />
  <br />
  <button type="submit" class="submit_analyze">Analyze Items</button>
</div>
<div id="recommendationForm" style="display: none">
  <div style="display: flex">
    <label for="numOfItem">Number of Items in the Combo:</label>
    <input type="number" id="numOfItem" name="num_of_item" min="2" required />
    <br />
    <button class="submit_combo locked_submit_items_num">
      Submit Num Of Item
    </button>
  </div>

  <label for="item">Item Available For Choosing:</label>
  <div class="item_container_choosing" style="display: flex"></div>
  <br />
  <label for="item">Item Already Choosing:</label>
  <div class="item_container_already_choosing" style="display: flex"></div>
  <br />

  <button type="submit" class="find_recommended_items_btn" disabled>
    Find Recommendation
  </button>
</div>
<div id="result"></div>

<script src="{{url_for('static', filename='JS/recommendation_page.js')}}"></script>

{% endblock %}
